trunk/cornerstone/sockets/impl/src/java/org/apache/avalon/cornerstone/blocks/sockets/DefaultSocketManager-schema.xml

<?xml version="1.0"?>
<grammar
    xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns:a="http://jakarta.apache.org/phoenix/schema-annotations/1.0"
>
    <start>
        <element name="root">
            <optional>
                <element name="server-sockets">
                    <oneOrMore>
                        <ref name="factory"/>
                    </oneOrMore>
                </element>
                <element name="client-sockets">
                    <oneOrMore>
                        <ref name="factory"/>
                    </oneOrMore>
                </element>
            </optional>
        </element>
    </start>

    <define name="factory">
        <element name="factory">
            <attribute name="name"/>
            <attribute name="class"/>
        </element>
    </define>
</grammar>
